@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap');

*{margin: 0; padding:0; box-sizing: border-box;}

body{ margin: 0; width: 100%; background:#989898;}

html{ scroll-behavior: smooth;}

header {justify-content: center; }

nav, ul, li, a { display: flex; padding-left: 10px; flex-flow: wrap; text-decoration: none; right: 100%; color:#000000;  }
li, a:hover { color:#1435BF;}

.borde {border-radius: 110%;}

main{
	width: 100%;
	background: #46949B;
	text-align: center;
}

.contenedor { 
	width: 1000px;
	height: 625px;
	justify-content: center;
	margin: auto;
	background-attachment: fixed;
	background-image: url(../Imgs/LA.jpg);
}

.contenedor2{
	background: rgba(120,120,120,0.7);
	width: 250px;
	height: 350px;
	justify-content: center;
	text-align: center;
	font-size: 8px;
	font-weight: 100;
	color: #FEFEFE;
	margin: auto;
	font-family: 'Montserrat', sans-serif;
}

.contenedor3 { 
	margin: auto;
	flex-flow: wrap;
	display: flex;
	align-items: flex-start;
	width: 1000px;
	text-align: justify;
}

p{ margin:7px; font-weight: 200; font-family: 'Mukta', sans-serif;}
h2{font-weight: 500; margin-left: 20px; font-family: 'PT Serif', serif; }
h3{ margin: 10px; font-weight: 300; font-family: 'Cinzel', serif;}

.caja { 
	width: 48%;
	background-color: #E9F1F7;
	margin: 10px 10px;
	padding: 15px;
	align-self: center;
}

.caja1 {
	display: flex;
	flex-flow: wrap;
	padding: 10px;
	background:#A2E8E3
}
.caja2 {
	width: 48%;
	display: flex;
	flex-flow: column wrap;
	background:#A2E8E3;
}
.caja3 {
	width: 100%;
	background-color: #E9F1F7;
	margin: 10px 10px;
	padding: 15px;
	align-self: center;
	background:#A2E8E3;
}

footer { width: 100%; height: 30px; text-align: center; background-color: #747373;}

@media (max-width: 1024px) {
	li, a {font-size: 15px;}
	header {justify-content: center;}
	
	.contenedor { 
	width: 100%;
	justify-content: center;
	margin: auto;
	background-attachment: fixed;
}
	
	.contenedor2,header {
	height: auto;
	text-align: center;
	align-self: center;
	justify-content: center;
	font-size: 8px;
	color: #FEFEFE;
	}
	
	.contenedor3 { 
	margin: auto;
	flex-flow: wrap;
	display: flex;
	align-items: flex-start;
	width: 100%;
	text-align: justify;
	}
	
	p{ margin:7px; font-weight: 200; font-size: 15px;}
	h2{font-weight: 500; margin-left: 20px; font-size: 25px; }
	h3{ margin: 10px; font-weight: 300; font-size: 20px;}
	
	.caja { 
	width: 100%;
	background-color: #A2E8E3;
	margin: 10px 10px;
	padding: 15px;
	align-self: center;
	flex-flow: column;
	}
	

}

	@media(max-width: 850px) {
	li, a {font-size: 15px;}
	header {justify-content: center;}
	
	.contenedor { 
	width: 100%;
	margin: auto;
	background-attachment: fixed;
	justify-content: center;
	}
	
	.contenedor2,header {
	height: auto;
	text-align: center;
	align-self: center;
	justify-content: center;
	font-size: 8px;
	color: #FEFEFE;
	}
	
	.contenedor3 { 
	margin: auto;
	flex-flow: wrap;
	display: flex;
	align-items: flex-start;
	width: 100%;
	text-align: justify;
	}
	
	p{ margin:7px; font-weight: 200; font-size: 15px;}
	h2{font-weight: 500; margin-left: 20px; font-size: 25px; }
	h3{ margin: 10px; font-weight: 300; font-size: 20px;}
	
	.caja { 
	width: 100%;
	background-color: #A2E8E3;
	margin: 10px 10px;
	padding: 15px;
	align-self: center;
	flex-flow: column;
	}
}

@media(max-width: 500px) {
	li, a {font-size: 15px;}
	header {justify-content: center;}
	
	.contenedor { 
	width: 100%;
	margin: auto;
	background-attachment: fixed;
	justify-content: center;
	}
	
	.contenedor2,header {
	height: auto;
	text-align: center;
	align-self: center;
	justify-content: center;
	font-size: 8px;
	color: #FEFEFE;
	}
	
	.contenedor3 { 
	margin: auto;
	flex-flow: wrap;
	display: flex;
	align-items: flex-start;
	width: 100%;
	text-align: justify;
	}
	
	p{ margin:7px; font-weight: 200; font-size: 15px;}
	h2{font-weight: 500; margin-left: 20px; font-size: 25px; }
	h3{ margin: 10px; font-weight: 300; font-size: 20px;}
	
	.caja { 
	width: 100%;
	background-color: #A2E8E3;
	margin: 10px 10px;
	padding: 15px;
	align-self: center;
	flex-flow: column;
	}
	

}

